/*  */
html {
  text-align: center;
}
body{
  width: 100%;
}
#root {
  padding: 0;  
}
html {
  scroll-behavior: smooth;
  background-color: tan;
}
img {
  max-width: 300px;
}
/* Welcome */
#welcome {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}
#welcome h1{
  font-family: Brush Script MT;
  font-size: 100px;
}
#welcome h1,p {
  color: black;
}

/* Header */
header {
  background-image: url(https://img.freepik.com/free-photo/brown-wooden-flooring_53876-90802.jpg);
  background-size: 90px 90px;
  color: white;
  font-size: 50px;
  font-family: Brush Script MT;
}
header a{
  color: white;
}


/* content */
p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  
}

img {
  padding-bottom: 80px;
}